In [1]:
import itertools

In [3]:
with open('cars_2014.csv', 'r') as file:
    print(next(file))
    for line in itertools.islice(file,0,15):
        print(line, end='')

make,model

ACURA,ILX
ACURA,MDX
ACURA,RDX
ACURA,RLX
ACURA,TL
ACURA,TSX
ALFA ROMEO,4C
ALFA ROMEO,GIULIETTA
APRILIA,CAPONORD 1200
APRILIA,RSV4 FACTORY APRC ABS
APRILIA,RSV4 R APRC ABS
APRILIA,SHIVER 750
ARCTIC CAT,1000 XT
ARCTIC CAT,500 XT
ARCTIC CAT,550 XT

In [6]:
num_makes = dict()
with open('cars_2014.csv', 'r') as file:
    next(file)
    for line in file:
        make, model = line.strip().split(',')
        num_makes[make] = num_makes.get(make, 0) + 1
for make, number in num_makes.items():
    print(make, number)

ACURA 6
ALFA ROMEO 2
APRILIA 4
ARCTIC CAT 96
ARGO 4
ASTON MARTIN 5
AUDI 27
BENTLEY 2
BLUE BIRD 1
BMW 86
BUGATTI 1
BUICK 5
CADILLAC 7
CAN-AM 61
CHEVROLET 33
CHRYSLER 2
DODGE 7
DUCATI 4
FERRARI 6
FIAT 2
FORD 34
FREIGHTLINER 7
GMC 12
HARLEY DAVIDSON 29
HINO 7
HONDA 91
HUSABERG 4
HUSQVARNA 9
HYUNDAI 13
INDIAN 3
INFINITI 8
JAGUAR 9
JEEP 5
JOHN DEERE 19
KAWASAKI 59
KENWORTH 11
KIA 10
KTM 13
KUBOTA 4
KYMCO 28
LAMBORGHINI 2
LAND ROVER 6
LEXUS 14
LINCOLN 6
LOTUS 1
MACK 9
MASERATI 3
MAZDA 5
MCLAREN 2
MERCEDES-BENZ 60
MINI 3
MITSUBISHI 8
NISSAN 24
PEUGEOT 3
POLARIS 101
PORSCHE 4
RAM 6
RENAULT 4
ROLLS ROYCE 3
SCION 5
SEAT 3
SKI-DOO 67
SMART 1
SRT 1
SUBARU 10
SUZUKI 48
TESLA 2
TOYOTA 19
TRIUMPH 10
VESPA 4
VICTORY 14
VOLKSWAGEN 16
VOLVO 8
YAMAHA 110

In [20]:
data = (1,1,1,2,3,3,3,3,3,3,4,4)

In [21]:
groups = (itertools.groupby(data))

In [13]:
groups

[(1, <itertools._grouper at 0x7f1f001e7eb0>),
 (2, <itertools._grouper at 0x7f1f001e7e80>),
 (3, <itertools._grouper at 0x7f1f001e7e50>),
 (4, <itertools._grouper at 0x7f1f001e7d30>)]

In [14]:
next(groups[0][1])

StopIteration:

In [24]:
next(groups[3][1])

StopIteration:

In [25]:
data = (1,1,1,2,3,3,3,3,3,3,4,4)

In [26]:
groups = itertools.groupby(data)

In [27]:
for group in groups:
    print(group[0], list(group[1]))

1 [1, 1, 1]
2 [2]
3 [3, 3, 3, 3, 3, 3]
4 [4, 4]

In [28]:
groups = list(itertools.groupby(data))

In [29]:
for group in groups:
    print(group[0], list(group[1]))

1 []
2 []
3 []
4 []

In [30]:
groups = itertools.groupby(data)

In [31]:
groups = list(itertools.groupby(data))

In [32]:
for group in groups:
    print(group[0], list(group[1]))

1 []
2 []
3 []
4 []

In [33]:
groups = itertools.groupby(data)

In [34]:
group1 = next(groups)

In [35]:
group1

(1, <itertools._grouper at 0x7f1f001e7f10>)

In [42]:
with open('cars_2014.csv', 'r') as file:
    next(file)
    make_count = {make : sum(1 for model in models)
        for make, models in itertools.groupby(
            file,lambda line : line.split(',')[0])
    }

In [43]:
make_count

{'ACURA': 6,
 'ALFA ROMEO': 2,
 'APRILIA': 4,
 'ARCTIC CAT': 96,
 'ARGO': 4,
 'ASTON MARTIN': 5,
 'AUDI': 27,
 'BENTLEY': 2,
 'BLUE BIRD': 1,
 'BMW': 86,
 'BUGATTI': 1,
 'BUICK': 5,
 'CADILLAC': 7,
 'CAN-AM': 61,
 'CHEVROLET': 33,
 'CHRYSLER': 2,
 'DODGE': 7,
 'DUCATI': 4,
 'FERRARI': 6,
 'FIAT': 2,
 'FORD': 34,
 'FREIGHTLINER': 7,
 'GMC': 12,
 'HARLEY DAVIDSON': 29,
 'HINO': 7,
 'HONDA': 91,
 'HUSABERG': 4,
 'HUSQVARNA': 9,
 'HYUNDAI': 13,
 'INDIAN': 3,
 'INFINITI': 8,
 'JAGUAR': 9,
 'JEEP': 5,
 'JOHN DEERE': 19,
 'KAWASAKI': 59,
 'KENWORTH': 11,
 'KIA': 10,
 'KTM': 13,
 'KUBOTA': 4,
 'KYMCO': 28,
 'LAMBORGHINI': 2,
 'LAND ROVER': 6,
 'LEXUS': 14,
 'LINCOLN': 6,
 'LOTUS': 1,
 'MACK': 9,
 'MASERATI': 3,
 'MAZDA': 5,
 'MCLAREN': 2,
 'MERCEDES-BENZ': 60,
 'MINI': 3,
 'MITSUBISHI': 8,
 'NISSAN': 24,
 'PEUGEOT': 3,
 'POLARIS': 101,
 'PORSCHE': 4,
 'RAM': 6,
 'RENAULT': 4,
 'ROLLS ROYCE': 3,
 'SCION': 5,
 'SEAT': 3,
 'SKI-DOO': 67,
 'SMART': 1,
 'SRT': 1,
 'SUBARU': 10,
 'SUZUKI': 48,
 'TESLA': 2,
 'TOYOTA': 19,
 'TRIUMPH': 10,
 'VESPA': 4,
 'VICTORY': 14,
 'VOLKSWAGEN': 16,
 'VOLVO': 8,
 'YAMAHA': 110}

In [48]:
same = True
for value1, value2 in zip(num_makes.items(), make_count.items()):
    if not value1 == value2:
        same = False
print(same)

True